<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>결빙사고 상습구간(용인시)</title>
    <style>
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
</style>
</head>
<body>
{% include "header.html" %}

<br><h2>
    
    </h2>결빙사고 상습구간(용인시)<br></h2>
    <select name="area" onchange="window.open(value,'_self');">
    <option value=""selected="selected">지역선택</option>
    <option value="Gapyeong">가평</option>
    <option value="Goyang">고양</option>
    <option value="Gwacheon">과천</option>
    <option value="Gwangmyeong">광명</option>
    <option value="Gwangju">광주</option>
    <option value="Guri">구리</option>
    <option value="Gunpo">군포</option>
    <option value="Gimpo">김포</option>
    <option value="Namyangju">남양주</option>
    <option value="Dongducheon">동두천</option>
    <option value="Bucheon">부천</option>
    <option value="Seongnam">성남</option>
    <option value="Suwon">수원</option>
    <option value="Siheung">시흥</option>
    <option value="Ansan">안산</option>
    <option value="Anseong">안성</option>
    <option value="Anyang">안양</option>
    <option value="Yangju">양주</option>
    <option value="Yangpyeong">양평</option>
    <option value="Yeoju">여주</option>
    <option value="Yeoncheon">연천</option>
    <option value="Osan">오산</option>
    <option value="Yongin">용인</option>
    <option value="Uiwang">의왕</option>
    <option value="Uijeongbu">의정부</option>
    <option value="Icheon">이천</option>
    <option value="Paju">파주</option>
    <option value="Pyeongtaek">평택</option>
    <option value="Pocheon">포천</option>
    <option value="Hanam">하남</option>
    <option value="Hwaseong">화성</option>
    
</select>
<button type="button" onclick="location.href='https://project-blackice.run.goorm.io';"> 뒤로 </button>
<button type="button" onclick="location.href='https://project-blackice.run.goorm.io/Yesterday_map/';"> 내일 </button>
<button type="button" onclick="location.href='https://project-blackice.run.goorm.io/Tomorrow_map/';"> 모레 </button>    

<div class="map_wrap">
    <div id="map" style="width:900px;height:800px;position:relative;overflow:hidden;float: right;"></div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2064b792cd44c208e096159567c54958&libraries=services"></script>
<script>
// 마커를 담을 배열입니다
var markers = [];

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(37.24101690569276,127.17748793528797), // 지도의 중심좌표 
        level: 7 // 지도의 확대 레벨
    };  
// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places();  

// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1})
// 지도에 표시할 원을 생성합니다
var circle = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.29195451,127.1099872),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 

var circle2 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.16571592,127.2403915),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 

var circle3 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.22749,127.303171),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle4 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.225076,127.263553),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
 var circle5 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.29651087,127.0643117),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
  
 var circle6 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.339791,127.18398),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
 var circle7 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.213568,127.205989),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});    
  
 var circle8 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.129088,127.21313),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

 var circle9 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.33844249,127.1038832),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});     

 var circle10 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.31566401,127.0647735),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});     
 
 var circle11 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.31730772,127.0568764),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
 var circle12 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.34250766,127.0598885),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});    
  
 var circle13 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.3344723,127.0869058),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 

 var circle14 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.33091543,127.1026644),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle15 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.18265062,127.233703),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
var circle16 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.28937664,127.1505564),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

var circle17 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.09788518,127.1199803),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});       

 var circle18 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.32537506,127.1039388),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle19 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.32421615,127.1089058),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
var circle20 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.32469084,127.1105478),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

var circle21 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.3220666,127.1229101),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});      

 var circle22 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.32624998,127.1100906),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 

 var circle23 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.32522025,127.1212257),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle24 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.3269159,127.1287554),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
var circle25 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.34748147,127.0576067),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

var circle26 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.32470248,127.1117666),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});       

 var circle27 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.2671061,127.0770939),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle28 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.12371303,127.212256),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
var circle29 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.21558971,127.3211621),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

var circle30 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.23986976,127.1059882),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 

var circle31 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.24918481,127.0829542),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

var circle32 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.24073187,127.1015092),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});       

 var circle33 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.22555506,127.0771398),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle34 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.25432424,127.1352042),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
var circle35 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.30553411,127.1061422),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

     
 var circle36 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.29423868,127.1005179),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 

 var circle37 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.29521392,127.0881589),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle38 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.29143683,127.1211418),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
var circle39= new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.292855,127.0984574),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

var circle40= new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.2320741,127.1479971),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});       

 var circle41= new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.22338751,127.0901345),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle42 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.27816751,127.0910821),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
var circle43 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.3141533,127.1106334),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

var circle44 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.2553071,127.1439978),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});

var circle45 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.22364712,127.219221),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});
    
var circle46 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.21694805,127.207434),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});       

 var circle47 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.24945469,127.1591684),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle48 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.18714691,127.2742922),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
var circle49 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.25847188,127.1926363),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

var circle50 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.25541274,127.212515),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});

var circle51 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.26486255,127.2131865),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});    

 var circle52= new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.26199786,127.2537978),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    
var circle53 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.15487884,127.2767881),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  
    
var circle54 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.13787157,127.3072469),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});  

var circle55 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.15401387,127.3395885),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});

var circle56 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.16471042,127.3101949),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});
    
var circle57 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.09651601,127.1786237),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
});       

 var circle58 = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(37.2670128,127.1932972),  // 원의 중심좌표 입니다 
    radius: 100, // 미터 단위의 원의 반지름입니다 
    strokeWeight: 5, // 선의 두께입니다 
    strokeColor: '#0000FF', // 선의 색깔입니다.
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#0000FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다   
}); 
    

    
// 지도에 원을 표시합니다 
circle.setMap(map);
circle2.setMap(map);
circle3.setMap(map);
circle4.setMap(map);
circle5.setMap(map);
circle6.setMap(map);
circle7.setMap(map);   
circle8.setMap(map);
circle9.setMap(map);
circle10.setMap(map);
circle11.setMap(map);
circle12.setMap(map);
circle13.setMap(map);    
circle14.setMap(map); 
circle15.setMap(map); 
circle16.setMap(map); 
circle17.setMap(map); 
circle18.setMap(map);
circle19.setMap(map);    
circle20.setMap(map);  
circle21.setMap(map);
circle22.setMap(map);
circle23.setMap(map);    
circle24.setMap(map); 
circle25.setMap(map); 
circle26.setMap(map); 
circle27.setMap(map); 
circle28.setMap(map);
circle29.setMap(map);    
circle30.setMap(map);  
circle31.setMap(map); 
circle32.setMap(map); 
circle33.setMap(map);
circle34.setMap(map);    
circle35.setMap(map);  
circle36.setMap(map);
circle37.setMap(map);
circle38.setMap(map);    
circle39.setMap(map); 
circle40.setMap(map); 
circle41.setMap(map); 
circle42.setMap(map); 
circle43.setMap(map);
circle44.setMap(map);    
circle45.setMap(map); 
circle46.setMap(map);
circle47.setMap(map);    
circle48.setMap(map); 
circle49.setMap(map); 
circle50.setMap(map); 
circle51.setMap(map); 
circle52.setMap(map);
circle53.setMap(map);    
circle54.setMap(map);
circle55.setMap(map); 
circle56.setMap(map);
circle57.setMap(map);    
circle58.setMap(map);
    
// 검색 결과 목록과 마커를 표출하는 함수입니다
function displayPlaces(places) {

    var listEl = document.getElementById('placesList'), 
    menuEl = document.getElementById('menu_wrap'),
    fragment = document.createDocumentFragment(), 
    bounds = new kakao.maps.LatLngBounds(), 
    listStr = '';
    
    // 검색 결과 목록에 추가된 항목들을 제거합니다
    removeAllChildNods(listEl);

    // 지도에 표시되고 있는 마커를 제거합니다
    removeMarker();
    
    for ( var i=0; i<places.length; i++ ) {

        // 마커를 생성하고 지도에 표시합니다
        var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
            marker = addMarker(placePosition, i), 
            itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(placePosition);

        // 마커와 검색결과 항목에 mouseover 했을때
        // 해당 장소에 인포윈도우에 장소명을 표시합니다
        // mouseout 했을 때는 인포윈도우를 닫습니다
        (function(marker, title) {
            kakao.maps.event.addListener(marker, 'mouseover', function() {
                displayInfowindow(marker, title);
            });

            kakao.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
            });

            itemEl.onmouseover =  function () {
                displayInfowindow(marker, title);
            };

            itemEl.onmouseout =  function () {
                infowindow.close();
            };
        })(marker, places[i].place_name);

        fragment.appendChild(itemEl);
    }

    // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
    listEl.appendChild(fragment);
    menuEl.scrollTop = 0;

    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
    map.setBounds(bounds);
}

// 검색결과 항목을 Element로 반환하는 함수입니다
function getListItem(index, places) {

    var el = document.createElement('li'),
    itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

    if (places.road_address_name) {
        itemStr += '    <span>' + places.road_address_name + '</span>' +
                    '   <span class="jibun gray">' +  places.address_name  + '</span>';
    } else {
        itemStr += '    <span>' +  places.address_name  + '</span>'; 
    }
                 
      itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                '</div>';           

    el.innerHTML = itemStr;
    el.className = 'item';

    return el;
}

// 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
function addMarker(position, idx, title) {
    var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
        imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
        imgOptions =  {
            spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
            spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
            offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
        },
        markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
            position: position, // 마커의 위치
            image: markerImage 
        });

    marker.setMap(map); // 지도 위에 마커를 표출합니다
    markers.push(marker);  // 배열에 생성된 마커를 추가합니다

    return marker;
}

// 지도 위에 표시되고 있는 마커를 모두 제거합니다
function removeMarker() {
    for ( var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
    }   
    markers = [];
}

// 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
function displayPagination(pagination) {
    var paginationEl = document.getElementById('pagination'),
        fragment = document.createDocumentFragment(),
        i; 

    // 기존에 추가된 페이지번호를 삭제합니다
    while (paginationEl.hasChildNodes()) {
        paginationEl.removeChild (paginationEl.lastChild);
    }

    for (i=1; i<=pagination.last; i++) {
        var el = document.createElement('a');
        el.href = "#";
        el.innerHTML = i;

        if (i===pagination.current) {
            el.className = 'on';
        } else {
            el.onclick = (function(i) {
                return function() {
                    pagination.gotoPage(i);
                }
            })(i);
        }

        fragment.appendChild(el);
    }
    paginationEl.appendChild(fragment);
}

// 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
// 인포윈도우에 장소명을 표시합니다
function displayInfowindow(marker, title) {
    var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

    infowindow.setContent(content);
    infowindow.open(map, marker);
}

 // 검색결과 목록의 자식 Element를 제거하는 함수입니다
function removeAllChildNods(el) {   
    while (el.hasChildNodes()) {
        el.removeChild (el.lastChild);
    }
}
</script>
</body>
</html>